#todo-error{
  color: red;
  font-size: 2em;
}

.card{
  background-color: rgb(255, 255, 255, .2);
}

.weather{
  position: absolute;
  top: 0;
  right: 0;
}

.todo-button{
  position: absolute;
  bottom: 0;
  right: 0;
}

.todo-card{
  background-color: black;
  color: white;
}

.todo{
  position: absolute;
  bottom: 55px;
  right: 0;
}

.quote{
  position: absolute;
  bottom: 0;
  padding: 0px 50px;
  /* background-color: brown; */
  width: 800px;
  text-align: center;
  left: calc(50vw - 400px);

}

.little-x{
  color: red;
}

#show-todos{
  display: none;
  background-color: black;
  opacity:0.9;
}


#bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-position-x: center;
  background-position-y: center;
}

.todo-header{
  text-align: center;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.082);
  padding: 10px 0px;
  color: gray
  /* margin-left: 30px */
}

.todo-completed{
  text-decoration: line-through;
}

