#todo-error{
  color: red;
  font-size: 2em;
}

.card{
  background-color: rgb(255, 255, 255, .2);
}

.weather{
  position: absolute;
  top: 0;
  right: 0;
}

.todo-button{
  position: absolute;
  bottom: 0;
  right: 0;
}

.todo-card{
  background-color: black;
  color: white;
}

.quote{
  position: absolute;
  bottom: 0;
}

.little-x{
  color: red;
}


